.imageCard {
  background-color: azure;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 24.8%;
  height: 350px;
}

.randomImage-Wrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 85%;
}
.photoButton {
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.randomImage {
  width: 100%;
  height: 100%;
}

.randomImage-content {
  font-size: 14px;
  font-weight: 900;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.photographerBtn {
  font-size: 14px;
  font-weight: 900;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  background-color: azure;
  border: none;
  margin: 0;
  padding: 0;
  width: 100px;
}
