.navbar {
  background-color: rgb(83, 83, 243);
  border-bottom: 2px solid black;
  width: 100%;
  margin-top: 0;
  display: flex;
  align-items: center;
}
.navLeft {
  width: 20%;
}
.navCentre {
  width: 60%;
  display: flex;
  justify-content: center;
}
.navRight {
  display: flex;
  justify-content: flex-end;
}
.logSignButtons {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 10px;
}

.buttonInState {
  width: 80px;
  height: 20px;
}
